<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
      xmlns:gap = "http://phonegap.com/ns/1.0"
      id        = "com.socialinfinity.happy"
      versionCode="10"
      version   = "0.0.1">

  <!-- versionCode is optional and Android only -->

  <name>Happy Market</name>

  <description>
      An online marketplace with a little bit of everything
  </description>

  <author href="http://happy.ph" email="weare@happy.ph">
      Team Happy
  </author>
  <feature name="org.apache.cordova.facebook.Connect"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>

  <content src="index.html" />
  <access origin="*" />
  
</widget>

<gap:plugin name="com.phonegap.plugins.facebookconnect">
  <param name="APP_ID" value="490869927652398" />
  <param name="APP_NAME" value="Happy.ph" />
</gap:plugin>
